[project]
name = "maxmind-splunk-add-on"
version = "1.0.0"
description = "MaxMind database lookups in Splunk"
readme = "README.md"
requires-python = ">=3.13,<3.14"
dependencies = [
    "pip>=25.3",
    "splunk-add-on-ucc-framework>=6.1.0",
]

[dependency-groups]
dev = [
    "maxminddb>=3.0.0",
    "pytest>=8.3.5",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
