name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '3 15 * * SUN'

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          submodules: true

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install Python
        run: uv python install --python-preference only-managed 3.13

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest tests
